* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    display: grid;
    place-items: center;
}
.header{    
    margin-top: 80px;
    margin-left: 120px;
    text-transform: uppercase;
    font-family: 'REM', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: Gray 1;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
}
.description
{   
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 872px;
}
.header.description{
    width: 527px;
    height: 117px;
}
.description_background{
    background-color: rgba(244, 245, 245, 1);
    width: 1440px;
    height: 494px;
    margin-top: 60px;
    margin-bottom: 121px;

}
.description_background_text{
    width: 319px;
    height: 264px;
    padding-top:70px;
    margin: 0px 748px 160px 373px ;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
}
.description_list{
    position: absolute;
    width: 193px;
    height: 350px;
    top: 327px;
    left: 120px;
}
dl :first-child{
    margin-top: 0px;
}
.description_list :first-child{
    padding: 0px;
}
.description_list_item{
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.description_list_item_unit{
    font-size: 16px;
}
.description_list_subitem{
    font-family: 'Roboto', sans-serif;
    width: 200px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(119, 119, 119, 1);
}
.description_pic1{
    position: absolute;
    width: 615px;
    height: 480px;
    top: 80px;
    left: 825px; 
}
.description_pic2{
    position: absolute;
    width: 232px;
    height: 210px;
    top: 590px;
    left: 825px;

}
.description_pic3{
    position: absolute;
    width: 232px;
    height: 210px;
    top: 590px;
    left: 1088px;
}
.map
{
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 610px;
    top: 872px;

}
.header.map{
    width: 282.3px;
    height: 26px;

}
.map_location{
    width: 930px;
    height: 450px;
    margin: -20px 120px 80px 390px;
    position:relative;
    overflow:hidden;

}
.map_tabs{
    position: absolute;
    margin: 40px 1139px 250px 120px;
    width: 200px;
}
.map_tabs_item{
    width: auto;
    height: 30px;
    height: auto;
    margin: 8px 8px 8px 0px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    padding: 8px 26px 8px 20px;
    text-align: left;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(199, 151, 145, 1);
    opacity: 0.3px;

}
.map_tabs_item_count{
    width: 18px;
    height: 12px;
    padding-left: 2px;
    font-weight:600;
    color: rgba(122, 27, 27, 1);
    text-align: center;
}
.features{
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 526px;
    top: 1482px;
    overflow: hidden;
}
.features_subheader{
    margin-top: 0px;
    margin-left: 120px;
    text-transform: uppercase;
    font-family: 'REM', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgba(8, 19, 31, 1);
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
.features_slider_left{
    position: absolute;
    width: 20px;
    margin: 90px 96px 421px 1276px;
    cursor: pointer;
}
.features_slider_right{
    position: absolute;
    width: 20px;
    margin: 90px 116px 421px 1256px;
    cursor: pointer;
}
.features_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 124px;
    margin-bottom: 80px;
    overflow-x: hidden;
}
.features_list :first-child{
    margin-left:0px ;
}
.features_subheader.card{
    transform-origin: right top;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 16px;
    width: auto;
}
.features_list_card{
    width: auto;
    margin:60px 60px;
    margin-top:40px;
    width: 294px;
    min-height: 252px;
}
.features_list_card_text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    width: 294px;
    height: 72px;
}
.features_list_card_button{
    width: auto;
    border: 0px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(122, 27, 27, 1);
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
